{% extends "index.html" %}
{% block titulo %}
Agregar Producto
{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow p-4">
                    <h3 class="mb-4">Añadir un Nuevo Producto</h3>


                    <form action="{{url_for('guardar_producto')}}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre del Producto</label>
                            <input required type="text" class="form-control" placeholder="" name="nombre" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción del Producto</label>
                            <textarea required class="form-control" placeholder="" name="descripcion" id="descripcion"></textarea>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="precio" class="form-label">Precio</label>
                                <input required type="number" class="form-control" placeholder="" name="precio" id="precio">
                            </div>
                            <div class="col">
                                <label for="stock" class="form-label">Stock</label>
                                <input required type="number" class="form-control" placeholder="" name="stock" id="stock">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="form-label">Imagen del Producto</label>
                            <input required type="file" class="form-control" name="imagen" id="imagen">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Guardar Producto</button>
                            <a href="{{url_for('formulario_crud_producto')}}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
{% endblock %}