{% extends "index.html" %}
{% block titulo %}
Editar Producto
{% endblock %}
{% block contenido %}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 border-0 shadow rounded">
                    <div class="card-body">
                        <h2 class="card-title mb-4 text-primary">Editar Producto</h2>
                        <form action="{{ url_for('actualizar_producto') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{{productos[0]}}" id="id">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre del Producto</label>
                                <input value="{{productos[1]}}" required type="text" class="form-control"
                                    placeholder="Nombre" name="nombre" id="nombre">
                            </div>
                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción del Producto</label>
                                <textarea required class="form-control" placeholder="Descripcion" name="descripcion" id="descripcion">{{productos[2]}}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="precio" class="form-label">Precio</label>
                                <div class="input-group">
                                    <span class="input-group-text">S/</span>
                                    <input value="{{productos[3]}}" required type="number" class="form-control"
                                        placeholder="Precio" name="precio" id="precio">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="stock" class="form-label">Stock</label>
                                <input value="{{productos[4]}}" required type="number" class="form-control"
                                    placeholder="Stock" name="stock" id="stock">
                            </div>
                            <div class="mb-3">
                                <label for="imagen" class="form-label">Imagen del Producto</label>
                                <input type="file" class="form-control" name="imagen" id="imagen" onchange="previewImage(event)">


                                    {% set image_url = '' %}
                                    {% if productos[5] %}
                                        {% set image_url = url_for('static', filename='img/productos/' + productos[5]) %}
                                        <label for="nombreImagen">Nombre de la Imagen:</label>
                                        <input type="text" class="form-control mt-2" value="{{ productos[5] }}" disabled title="Nombre de la Imagen">
                                    {% else %}
                                        <input type="text" class="form-control mt-2" value="" disabled placeholder="Nombre de la Imagen">
                                    {% endif %}
                                    <p>Ruta de la imagen: {{ image_url }}</p>
                                    <img id="preview" src="{{ image_url }}" alt="Imagen del producto" style="max-width: 200px;">





                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar Producto</button>
                                <a href="{{url_for('formulario_crud_producto')}}" class="btn btn-danger btn-lg">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview');
            output.src = reader.result;
            document.getElementById('imagen_nombre').value = event.target.files[0].name;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
    </script>

{% endblock %}